{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "6",
          "chrome": "59",
          "safari": "10",
          "firefox": "56",
          "edge": "14"
        }
      }
    ],
    "@babel/preset-react",
    "babel-preset-minify"
  ],
  "plugins": ["@babel/plugin-transform-arrow-functions", "@babel/plugin-proposal-class-properties"]
}
